.controlsPanel{
    display: flex;
    flex-wrap: wrap;
    color:rgb(156, 156, 156);
    font-size:12px;
    line-height: 12px;
    font-family: system-ui;
    font-weight: 500;
    padding:30px;
    margin:30px;
    width:fit-content;
}
.controlsPanel__wrapper{
    display: flex;
    justify-content: space-around;
  flex-wrap: wrap;
    box-shadow: 0px 0px 6px rgba(185, 184, 184);
    padding:20px;
    margin:30px;
    max-width: 500px;
    border-radius: 10px;
    background-color: white;
}
.controlsPanel__slider-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height: 300px;
    margin:30px;
}
.numberInput{
    margin:30px;
}
.toggle__wrapper, .numeric-input__wrapper{
    display: flex;
    align-items: center;
    padding:10px;
    
    width: fit-content;
}
.toggle__header, .numeric-input__header{
    margin:2px;
    color:rgb(156, 156, 156);
    word-wrap: break-word;
}
.toggle__input{
    cursor: pointer;
    width:36px;
    height: 18px;
    opacity: 1;
    position: relative;
   
}
.toggle__input::before{
    content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  box-shadow: inset 0px 0px 6px rgba(185, 184, 184);
  border-radius: 3px;
  
 
}
.toggle__input::after{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    right: auto;
    width: 18px;
    height: 18px;
    z-index: 2;
    box-shadow:  0px 0px 6px rgba(185, 184, 184, 0.9);
    background-color:  white;
    border-radius: 3px;
    transition: transform 0.3s; 
}
.toggle__input:checked::before{
    background: linear-gradient(180deg, rgba(132, 240, 146) 0%,  rgba(157, 241, 206) 100%);
    
}
.toggle__input:checked::after{
    transform: translateX(19px);
    transition: transform 0.3s; 
}
.numeric-input__buttons-input-wrapper{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    margin:5px;
    padding:3px;
}
.numeric-input__input{
    outline: none;
    border:1px solid white;
    color:rgb(156, 156, 156);
    padding:3px;
    padding-left:2px;
    padding-right: 2px;
    text-align: center;
    margin:2px;
    max-width: 60px;
    appearance: textfield;
    border-radius:3px;
    transition: all 0.3s linear;
}
.numeric-input__input:hover{
    border: 1px solid rgba(132, 240, 146);
}
.numeric-input__input:active{
    border: 1px solid rgba(132, 240, 146);
}
.numeric-input__input::-webkit-outer-spin-button,
.numeric-input__input::-webkit-inner-spin-button {
	display: none;
}

.numeric-input__button{
    cursor:pointer;
    width: 22px;
    height: 22px;
    background: linear-gradient(180deg, rgba(132, 240, 146,0.7) 0%,  rgba(157, 241, 206,0.7) 100%);
    background-color: white;
    border-radius: 50%;
    outline: none;
    color:white;
    font-size: 14px;
    font-weight: 600;
    border:none;
    margin-left:1px;
    margin-right: 1px;
}
.numeric-input__button:hover{
    background: linear-gradient(180deg, rgba(132, 240, 146) 0%,  rgba(157, 241, 206) 100%);
}