<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta( name="theme-color" content="#ffffff")
        title Range Slider
    body
      //.panel(id ="panel1")
      //.panel(id ="panel2")
      include ControlsPanel/controlsPanel.pug
      +controlsPanel('1234')